body {
    margin: 0;
    padding: 0;
}
/*NAVIGATION */
.header {
    background-image: url(../images/header/header__background.png);
}
.header__navigation {
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
}
.header__left-side {
    width: 50vw;
}
.header__logotype__image {
    margin-left: 7.5vw;
    margin-top: 1.5vh;
}
.header__right-side {
    width: 50vw;
}
.header__right-side > .nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header__right-side > .nav-menu > li {
    margin: .5vh 2.3vw;
    list-style-type: none;
}
.header__right-side > .nav-menu > li > a{
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    color: #4d4d4d;
    text-transform: uppercase;
}
.header__right-side > .nav-menu > li > a:hover {
    border-bottom: solid 2px #4d4d4d;
    padding-bottom: 8px;
    text-transform: unset;
}

/*NAVIGATION */

/*HEADER CONTENT*/

.header__main-box {
    display: flex;
    flex-direction: row;

}
.header__main-box__left-side {
    width: 50vw;
    margin: 0 7.5vw;
}
.header__main-box__left-side > .header__title {
    font-weight: 700;
    font-family: 'Asap', sans-serif;
    color: #4d4d4d;
    font-size: 5.625em;
    margin: 15vh 0 0 0;
    padding: 0;
}
.header__main-box__left-side > .header__subtitle {
    margin: 2vh 0 5vh 0;
    padding: 0;
    font-weight: 500;
    font-family: 'Asap', sans-serif;
    color: #6e6e6e;
    font-size: 1.375em;
}
.header__main-box__right-side {
    width: 50vw;
    text-align: center;
    margin-right: 7.5vw;
}
.header__main-box__left-side > .header__link {
    padding: 20px 30px;
    border: solid 1px #4d4d4d;
    background-color: rgba(0,0,0,0);
    margin: 0 0.5vw;
    font-weight: 500;
    font-family: 'Asap', sans-serif;
    color: #4d4d4d;
    font-size: 1em;
    text-decoration: none;
}
.header__main-box__left-side > .header__link:first-of-type {
    margin-left: 0;
}
.header__main-box__left-side > .header__link:last-of-type {
    padding: 20px 65px;
}
.header__main-box__left-side > .header__link:hover {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 50px 1px #cacaca;
    box-shadow: 1px 1px 50px 1px #cacaca;
}



/*HEADER CONTENT*/

/*ABOUT SECTION*/
.about {
    display: flex;
    flex-direction: row;
    margin: 12vh 7vw;
}
.about__left-side {
    width: 50vw;
}
.about__title {
    font-weight: 700;
    font-size: 2.875em;
    color: #7a7a7a;
    width: 22.5vw;
    font-family: 'Asap', sans-serif;
    margin-bottom: 0;
    margin-top: 10vh;
}
.about__content {
    width: 29.5vw;
    font-weight: 400;
    color: #7a7a7a;
    font-size: 1em;
    font-family: 'Asap', sans-serif;
    margin-bottom: 6.5vh;
}
.about__link-DmCV {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    color:#4d4d4d;
    font-family: 'Asap', sans-serif;
    text-decoration: none;
    border: #4d4d4d 1px solid;
    padding: 20px 55px;
}
.about__link-DmCV:hover {
    -webkit-box-shadow: 1px 1px 50px 1px #cacaca;
    box-shadow: 1px 1px 50px 1px #cacaca;
}
.about__right-side {
    width: 50vw;
    text-align: center;
}

/*ABOUT SECTION*/


/*SERVICES SECTION*/

.services {
    background-color: #f6f6f6;
    padding-top: 20vh;
}
.block__title {
    text-align: center;
    color: #7a7a7a;
    font-size: 2.875em;
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    margin: 0;
    bottom: 0;
}
.services__line {
    display: grid;
    grid-gap: 70px;
    grid-template-columns: repeat(3,1fr);
}
.services__line .services__box {
    text-align: center;
    margin-bottom: 50px;
    color: #4d4d4d;
    font-family: 'Asap', sans-serif;
    font-size: 1.5em;
    word-wrap: break-word;
}
.services__box img {
    height: 80px;
    width: 70px;
}

/*SERVICES SECTION*/



/*MY SKILLS SECTION*/
.myskills {
    margin: 20vh 0;

}
.myskills__image__box {
    text-align: center;
    margin-top: 10vh;
}

/*MY SKILLS SECTION*/

/*PORTFOLIO SECTION*/
.portfolio {
    background-color: #f6f6f6;
    padding: 15vh 0;
    text-align: center;
}
.portfolio__wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin: 5vh 10vw;
}
.portfolio-image {
    width: 370px;
    height: 320px;
}
.portfolio-image:last-of-type {
    margin-bottom: 50px;
}
.portfolio__wrapper img:hover {
    -webkit-box-shadow: 1px 1px 50px 1px #cacaca;
    box-shadow: 1px 1px 50px 1px #cacaca;

}
.portfolio__link {
    color:#4d4d4d;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Asap', sans-serif;
    text-decoration: none;
    padding: 20px 40px;

}
.portfolio__link:hover {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 50px 1px #cacaca;
    box-shadow: 1px 1px 50px 1px #cacaca;
    border-radius: 40px;
}
/*PORTFOLIO SECTION*/



/*TESTIMONIALS SECTION*/

.testimonials {
    padding: 15vh 0;
    text-align: center;
    margin: 0 15vw;
}
.comment-photo {
    padding-right: 30px;
}
.comment__box {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    border: solid 1px #4d4d4d;
    padding: 75px 100px;
    text-align: left;
}
.comment-content__title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size:1.875em;
    color:#212121;
}
.comment-content__subtitle {
    margin: 6px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    color:#212121;
    font-weight: 500;
    font-style: italic;
    font-size: 0.75em;
}
.comment-content__content {
    font-size: 1em;
    font-family: 'Asap', sans-serif;
    color:#b0b0b0;
    font-weight: 300;
    text-transform: uppercase;

}
.comment__box__buttons {
    position: relative;
    bottom: 5vh;
}
.comment__box__btn {
    height: 15px;
    width: 10px;
    border: solid 1px black;
    background-color: rgba(0,0,0,0);
}
.comment__box__btn:hover, .comment__box__btn:active {
    background-color: #111;
}


/*TESTIMONIALS SECTION*/
/*STATISTIC SECTION*/
.statistic {
    background-color: #f6f6f6;
    padding: 10vh 15vw;
    margin-bottom: 100px;
}
.statistic__line {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;
    text-align: center;

}
.statistic__box img {
    width: 75px;
    height: 85px;
}
.statistic__count , .statistic__title {
    color:#212121;
    font-family: 'Asap', sans-serif;
    font-size: 1.375em;
    text-transform: uppercase;
    font-weight: 400;
}
.statistic__count {
    font-weight: 700;
}


/*STATISTIC SECTION*/


/*FOOTER*/

/*FOOTER*/